@import "variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

}

body {
  font-family: $font-primary;
  background-color: $color-bg-1;
  font-size: 1.4rem;
}

a, a:hover, a:visited{
  text-decoration: none;
  color:unset;
}