.mtXl{
  margin-top: 3.2rem;
}
.mtLg{
  margin-top: 2.4rem;
}
.mtMd{
  margin-top: 1.6rem;
}
.mtSm{
  margin-top: .8rem;
}
.mbXl{
  margin-bottom: 3.2rem;
}
.mbLg{
  margin-bottom: 2.4rem;
}
.mbMd{
  margin-bottom: 1.6rem;
}
.mbSm{
  margin-bottom: .8rem;
}
