@import "../../styles/variables";

@mixin sectionStyle {
  margin-top: 2rem;
  padding: 3rem;
  background-color: $color-white;
}

.desc{
  padding: 3rem;
}

.selectContainer{
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-column-gap: 2rem;
}

.buttonContainer{
  margin-top: 3rem;
  display: flex;
}

.detailsContainer {
  @include sectionStyle;
}

.reviewContainer {
  @include sectionStyle;
}

.reviewGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8rem;
  grid-row-gap: 4rem;
}
