.mt-xl{
  margin-top: 3.2rem;
}
.mt-lg{
  margin-top: 2.4rem;
}
.mtMd{
  margin-top: 1.6rem;
}
.mt-sm{
  margin-top: .8rem;
}
.mb-xl{
  margin-bottom: 3.2rem;
}
.mb-lg{
  margin-bottom: 2.4rem;
}
.mb-md{
  margin-bottom: 1.6rem;
}
.mb-sm{
  margin-bottom: .8rem;
}
