.wrapper{
  margin-top: 1.5rem;
  height: 30vw;
  //background-color: lightseagreen;
}

.heading{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem .5rem;
}

.navigations{
  display: flex;
  align-items: center;
  h4{
    cursor: pointer;
  }
}

.productsSliderContainer{
  position: relative;
  //height: 20vw;
  background-color: lightseagreen;
}

.productsSlider{
  //background-color: lightcoral;
  position: absolute;
  width: 100%;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;  /* Chrome Safari */
}
  scroll-behavior: smooth;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 200px;
  grid-gap: 1.5vw;

}
