@import "styles/variables";

.signUp{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;
  overflow: auto;
    &::-webkit-scrollbar {
    display: none;  /* Chrome Safari */
  }
}

.form {
  width: 100%;
  margin-top: 1rem;
  display: grid;
  grid-gap: 2rem;
}